*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

button{
    border: .1rem outset rgb(252, 252, 252);
    background-color: rgb(243, 241, 241);
    border-radius: 1rem;
    padding: 1rem 1.7rem;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.1);
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    &:hover{
        background-color: white;
        color: black;
        box-shadow: none;
        border: .1rem solid rgb(147, 147, 147);
    }
}

//variables 
$containerMainColor: rgb(255, 255, 255);
$itemMainColor: rgb(213, 211, 211);

#main-page{
    min-height: 100vh;
    background-color: rgb(159, 165, 185);
    // background-color: rgb(201, 241, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
    .title-container{
        height: 10vh;
        width: 90%;
        margin: auto;
    }
    
    .app-title{
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 10rem;
    }
    //array container
    .array-simulator{
        min-height: 45vh;
        width: 90%;
        margin: auto;
        // background-color: rgb(90, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    //each individual array container
    .array{
        background-color: $containerMainColor;
        height: 35rem;
        width: 98.5rem; // 72.5rem
        margin: auto; 
        display: flex;
        flex-shrink: 0;
        justify-content: flex-start;
        align-items: center;
        border-radius: 1.5rem;
        box-shadow: 0 15px 15px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.15);
        border: 3px double rgb(201, 201, 201);
    }
    //individual items within a single array 
    .item{
        height: 32rem;
        width: 7rem;
        background-color: $itemMainColor;
        margin-left: .5rem;
        border-radius: 1.5rem;
        text-align: center;
        box-shadow: 0 15px 15px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.15);
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: .3rem rgb(255, 255, 255) outset;
    }
    .button-container{
        min-height: 40rem;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: aquamarine;
    }
    .splice-clear-container{
        min-height: 1rem;
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // background-color: azure;
    }
}

#main-page{
    .item-selected{
        border: 5px solid rgb(49, 49, 49);
    }
    .user-info{
        font-size: 2.5rem;
        opacity: 0;
        margin: auto;
        width: 100%;
    }
}

//you have two of these! fix that please 
.button-container{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // height: 30vh;
    // width: 100vw;
    // background-color: aqua;

    .group-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .individual-btn-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 30rem;
        width: 20rem;
        
        .next-element-container{
            height: 20rem;
            width: 12rem;
            background-color: $containerMainColor;
            border: 3px double rgb(201, 201, 201);
            box-shadow: 0 15px 15px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.15);
            border-radius: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
        }

        .small-item{
        height: 15.5rem;
        width: 5rem;
        background-color: $itemMainColor;
        margin-left: .5rem;
        border-radius: 1.5rem;
        text-align: center;
        box-shadow: 0 5px 5px rgba(0,0,0,.1), 0 4px 4px 0 rgba(0,0,0,.15);
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: .3rem rgb(255, 255, 255) inset;
        }

        .push-item, .unshift-item{
            border: .5rem rgb(152, 254, 147) inset;
        }
        .shift-item, .pop-item{
            border: .5rem rgb(254, 147, 147) inset;
        }
    }

}

@import 'mobile.scss';