* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

button {
  border: 0.1rem outset rgb(252, 252, 252);
  background-color: rgb(243, 241, 241);
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
button:hover {
  background-color: white;
  color: black;
  box-shadow: none;
  border: 0.1rem solid rgb(147, 147, 147);
}

#main-page {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#main-page .title-container {
  height: 10vh;
  width: 90%;
  margin: auto;
}
#main-page .app-title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
}
#main-page .array-simulator {
  height: 40vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main-page .array {
  background-color: rgb(230, 230, 230);
  height: 27rem;
  width: 72.5rem;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 3px outset rgb(201, 201, 201);
}
#main-page .item {
  height: 24rem;
  width: 5rem;
  background-color: rgb(123, 221, 248);
  margin-left: 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem rgb(255, 255, 255) inset;
}
#main-page .button-container {
  min-height: 40rem;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-page .splice-clear-container {
  min-height: 1rem;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-page .item-selected {
  border: 5px outset rgb(253, 94, 94);
}
#main-page .user-info {
  font-size: 2.5rem;
  opacity: 0;
  margin: auto;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}
.button-container .group-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.button-container .individual-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30rem;
  width: 20rem;
}
.button-container .individual-btn-container .next-element-container {
  height: 20rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.button-container .individual-btn-container .small-item {
  height: 15.5rem;
  width: 5rem;
  background-color: rgb(123, 221, 248);
  margin-left: 0.5rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem rgb(232, 232, 232) inset;
}

@media only screen and (max-width: 900px) {
  #main-page .array {
    width: 60rem;
  }
  #main-page .item {
    width: 4rem;
  }
}/*# sourceMappingURL=style.css.map */